:root {
    --primary-color: #406a86; /* payne’s gray */
    --secondary-color: #ff914d; /* atomic tangerine */
    --accent1-color: #abc6d8; /* colombia blue */
    --accent2-color: #efe1d8; /* Champagne Pink */
    --heading-font: "Merriweather Sans", sans-serif;
    --body-font: "Roboto", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: black;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 20px;
    width: 58.35%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}


article {
    position: relative;
    top: 50px;
    right: 50px;
    padding: 20px;
    width: 400px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
}

article img {
    float: right;
    width: 200px;
}